<section class="banner">
    <div class="grid">
        <div class="cell-7-desktop cell-4-tablet cell-4-phone">
            <h1>Alyf Mendonça</h1>
            <h3>Front end developer</h3>
            <p>Apaixonado por tecnologia e inovação. Formado em analise e desenvolvimento de sistemas pelo IFSP e atuando há 4 anos com desenvolvimento web.</p>
        </div>
        <div class="cell-5-desktop cell-4-tablet cell-4-phone">
            <img src="../../../assets/images/me-banner.png" alt="Alyf Mendonça">
        </div>
    </div>
</section>