<section class="banner">
    <div class="grid">
        <div class="cell-8-desktop cell-4-tablet cell-4-phone">
            <h1>Alyf Mendonça</h1>
            <h3>Front end developer</h3>
            <p>I'm a brazilian front end developer who specializes in building (and occasionally designing) great digital experiences using good technologies.
                <br>Currently acting on BTG Pactual digital as developer using Angular, Cloud infrastructure and more.</p>
        </div>
        <div class="cell-4-desktop cell-4-tablet cell-4-phone">
            <img src="../../../assets/images/me-banner.png" alt="Alyf Mendonça">
        </div>
    </div>
</section>