@import '../../../assets/scss/colors.scss';
@import '../../../assets/scss/grid.scss';

.banner{
    // background: $darkGreen;
    // height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 100px 0;
    position: relative;

    &::before{
        content: '';
        width: 1px;
        height: 40%;
        background: $lightGreen;
        position: absolute;
        right: 35%;
        bottom: 0;
    }

    &::after{
        content: '';
        height: 70px;
        width: 5px;
        right: 36%;
        position: absolute;
        bottom: 15%;
        background-image: url('../../../assets/images/one-dot.svg');
        background-repeat: repeat-y;
    }

    h1{
        color: $lightGreen;
        font-size: 64px;
        margin-top: 20px;
    }
    h3{
        color: $mediumGreen;
        font-size: 64px;
    }
    p{
        font-size: 20px;
        color: $lightGreen;
        margin-top: 20px;
    }
    img{
        height: 80%;
    }
}

@media only screen and (min-width: 1800px) {
    .banner{
    
        &::before{
            right: 40%;
        }
    
        &::after{
            right: 41%;
        }
    }
}

@media screen and (max-width: 580px){
    .banner{
        padding: 0;
        h1, h3{
            font-size: 48px;
        }

        img{
            margin-top: 20px;
            width: 40%;
            height: auto;
        }
        &::before{
            width: 52%;
            height: 1px;
            right: 5%;
            bottom: 45%;
        }
        &::after{
            height: 15px;
            width: 55px;
            right: 36%;
            bottom: 46%;
            background-repeat: repeat-x;
        }
    }
}

    