<section class="about-me">
    <div class="grid">
        <div class="cell-4-desktop cell-4-tablet cell-4-phone desktop-photo">
            <img src="../../../assets/images/about-me.png" alt="Alyf Mendonça">
        </div>
        <div class="cell-8-desktop cell-4-tablet cell-4-phone present">
            <div class="my-bio">
                <h3 class="subtitle">About me</h3>
                <p>Hello! My name is Alyf and I love to solve problems using my knowloge building web apps. This love history started in 2016 when I decide to do my Sistem Analysis bachelor's degree. </p>
                <p>In 2017 I started in my first job as a Front end developer and lean a lot about how built good web applications. After this job I never stopped studying diffents languages, patterns and frameworks.</p>
                <p>Now, I'm working with 4 Angular applications, hosted on aws cloud Infrastructure, using GitFlow and Scrum to help de workflow. </p>
            </div>

            <p class="skills-subtitle">Here are a few technologies I've been working with recently:</p>

            <div class="grid no-padding skills">
                <div class="cell-6-desktop cell-4-tablet cell-4-phone">
                    <p>
                        - HTML/CSS 
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                    </p>
    
                    <p>
                        - JavaScript
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                    </p>
    
                    <p>
                        - Typescript
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                    </p>
    
                    <p>
                        - Angular
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                    </p>
                </div>

                <div class="cell-6-desktop cell-4-tablet cell-4-phone">
                    <p>
                        - React/React Native
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                    </p>
    
                    <p>
                        - Node.js
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                    </p>
    
                    <p>
                        - Ionic
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                    </p>

                    <p>
                        - WordPress
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                    </p>
                </div>

                <div class="cell-4-desktop cell-4-tablet cell-4-phone" >
                    <img src="../../../assets/images/about-me.png" class="mobile-photo" alt="Alyf Mendonça">
                </div>

            </div>
        </div>
    </div>
</section>