<section class="about-me">
    <div class="grid">
        <div class="cell-4-desktop cell-4-tablet cell-4-phone">
            <img src="../../../assets/images/about-me.png" alt="Alyf Mendonça">
        </div>
        <div class="cell-8-desktop cell-4-tablet cell-4-phone">
            <h3>Sobre mim</h3>
            <p>Olá, meu nome é Alyf, tenho 23 anos, sou desenvolvedor de sistemas.</p>

            <p class="skills-subtitle">LINGUAGENS E FRAMEWORKS</p>
            <div class="grid no-padding skills">
                <div class="cell-6-desktop cell-4-tablet cell-4-phone">
                    <p>
                        - HTML/CSS 
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                    </p>
    
                    <p>
                        - JavaScript
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                    </p>
    
                    <p>
                        - Typescript
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                    </p>
    
                    <p>
                        - Angular
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                    </p>
                </div>

                <div class="cell-6-desktop cell-4-tablet cell-4-phone">
                    <p>
                        - React/React Native
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                    </p>
    
                    <p>
                        - NodeJs
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                    </p>
    
                    <p>
                        - Ionic
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                        <i><img src="../../../assets/images/skate-skill.png" alt=""></i>
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>