@import '../../../assets/scss/colors.scss';
@import '../../../assets/scss/grid.scss';

.about-me{
    background: $darkGreen;
    width: 100%;

    h3{
        font-size: 40px;
        margin-bottom: 20px;
    }
    .grid{
        align-items: center;
        justify-content: space-between;
    }

    .skills-subtitle{
        margin-top: 50px;
    }
    .skills{
        margin-top: 20px;

        p{
            display: flex;
            align-items: center;
        }
        i:first-child {
            margin-left: 20px;
        }
    }
}