@import '../../../assets/scss/colors.scss';
@import '../../../assets/scss/grid.scss';

.about-me{
    // background: $darkGreen;
    width: 100%;
    padding: 100px 0;
    position: relative;

    &::before{
        content: "";
        height: 25px;
        width: 40%;
        top: -45px;
        right: 35%;
        position: absolute;
        border-bottom: 1px solid $lightGreen;
        background-image: url('../../../assets/images/multiple-dots.svg');
        background-position: top left;
        background-repeat: no-repeat;
        padding-top: 20px;
    }

    &::after{
        content: "";
        width: 1px;
        height: 30%;
        background: #B6CBD7;
        position: absolute;
        right: 75%;
        top: 0;
    }

    .grid{
        align-items: center;
        justify-content: space-between;
    }

    .skills-subtitle{
        margin-top: 50px;
    }
    .skills{
        margin-top: 20px;

        p{
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
        i:first-child {
            margin-left: 20px;
        }
    }
}