<section class="tabs">
    <div class="grid">
        <div class="cell-3-desktop cell-2-tablet cell-4-phone tabs-header">
            <span *ngFor="let singleExperience of experience; let i = index" (click)="changeTab(i)" class="singleTitle">{{singleExperience.title}}</span>
        </div>

        <div class="cell-9-desktop cell-6-tablet cell-4-phone tab-content">
            <article>
                <h4>{{visibleExperience.position}}</h4>
                <small>{{visibleExperience.duration}}</small>
                <p class="description">{{visibleExperience.description}}</p>
            </article>
        </div>
    </div>
    
</section>  
