@import '../../../assets/scss/colors.scss';
@import '../../../assets/scss/grid.scss';

.tabs{
    .tabs-header{
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;

        span{
            background: $mediumGreen;
            padding: 5px 35px;
            text-align: center;
            border-radius: 5px;
            max-width: 95px;
            color: $darkGreen;
            margin-bottom: 30px;
            cursor: pointer;

            &.active{
                background: $lightGreen;
            }
        }

        &:before{
            content: '';
            width: 1px;
            height: 100%;
            background: #fff;
            position: absolute;
            left: 35%;
            z-index: -1;
        }
    }

    .tab-content{
        h4{
            font-size: 24px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            margin-bottom: 15px;
        }

        small{
            font-size: 14px;
            color: $lightGreen;
            font-family: 'Montserrat', sans-serif;
        }
        .description{
            margin-top: 25px;
        }
    }
}