@import '../../../assets/scss/colors.scss';
@import '../../../assets/scss/grid.scss';

.experience{
    background: $darkGreen;
    width: 100%;
    padding: 100px 0;

    .subtitle{
        margin-bottom: 50px;
    }
}