<footer>
    <section class="grid">
        <a href="mailto:alyfmendonca1@gmail.com" class="email">alyfmendonca1@gmail.com</a>

        <p class="credits">Designed & built by Alyf Mendonça</p>
    
        <nav>
            <a href="www.instagram.com"><img class="social-media-icon" src="../../../assets/images/instagram.svg" alt="Alyf's Instagram"></a>
            <a href="www.instagram.com"><img class="social-media-icon" src="../../../assets/images/github.svg" alt="Alyf's GitHub"></a>
            <a href="www.instagram.com"><img class="social-media-icon" src="../../../assets/images/twitter.svg" alt="Alyf's Twitter"></a>
            <a href="www.instagram.com"><img class="social-media-icon" src="../../../assets/images/linkedin.svg" alt="Alyf's LinkedIn"></a>

        </nav>
    </section>
</footer>