/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import './assets/scss/colors.scss';

body{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-family: 'Playfair Display', serif;
    color: $lightGreen;
}
p, span{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: $lightGreen;
    font-size: 18px;
}

div.grid.no-padding{
    padding: 0;
    max-width: unset;
}
.subtitle{
    font-size: 40px;
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
    width: fit-content;

    &::before{
        width: 120%;
        height: 23px;
        content: '';
        position: absolute;
        background: rgb(182 203 215 / 45%);
        bottom: -2px;
        z-index: -1;
    }
}